{% extends "layout.html"%}

{%block content%}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="row">
                    <legend class="border-bottom mb-4 col-sm">
                        {{form.id.data}} :{{form.id.label}}
                    </legend>
                    <legend class="border-bottom mb-4 col-sm text-right">
                        {{form.tweet_content.label}}
                    </legend>
                </div>
                <div class="form-group">
                    {% if form.tweet_content.errors %}
                        {{ form.tweet_content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.tweet_content.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.tweet_content(class="form-control form-control-sm text-right") }}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-sm dropdown">
                        {{ form.tweet_topic.label(class="form-control-label ") }}
                        {{ form.tweet_topic(class="dropdown")}}
                    </div>
                    <div class="col-sm dropdown">
                        {{ form.tweet_sentiment.label(class="form-control-label ") }}
                        {{ form.tweet_sentiment(class="dropdown")}}
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="form-group col-sm">
                    {{ form.next(class="btn btn-outline-info") }}
                </div>
                <div class="form-group col-sm">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>

            </div>

        </form>
    </div>
{% endblock content %}