{% extends "layout.html"%}

{%block content%}
    <div class="content-section">
        <form method="POST" action="">
             {{ form.hidden_tag() }}
            <fieldset class="form-group">

                <div class="row">
                    <legend class="border-bottom mb-4 col-sm">
                        {{form.id.data}} :{{form.id.label}}
                        {{ form.id(class="form-control form-control-lg is-invalid") }}
                    </legend>
                    <legend class="border-bottom mb-4 col-sm text-right">
                        {{form.tweet_content.label}}
                    </legend>
                </div>
                <div class="form-group">
                    {% if form.tweet_content.errors %}
                        {{ form.tweet_content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.tweet_content.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.tweet_content(class="form-control form-control-sm text-right") }}
                    {% endif %}
                </div>
                <div class="form-group row">
                    <div class="col-sm dropdown">
                        {{ form.tweet_topic.label(class="form-control-label ") }}
                        {{ form.tweet_topic(class="dropdown")}}
                    </div>
                    <div class="col-sm dropdown">
                        {{ form.tweet_sentiment.label(class="form-control-label ") }}
                        {{ form.tweet_sentiment(class="dropdown")}}
                    </div>
                </div>


                <div class="form-group row">
                    <legend class="border-bottom mb-4 col-sm text-right">
                        {{form.replies[0].id.label}}
                    </legend>
                </div>
                <div class="form-group">

                 {% for field in form.replies %}
                    {% if field.reply_content.errors %}
                        {{ field.tweet_content(class="form-control form-control-lg") }}
                        <div class="invalid-feedback">
                            {% for error in field.tweet_content.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}

                        {{ form.hidden_tag() }}
                        {{field.tweeter_id.data}}: {{field.tweeter_id.label}}
                        {{field.tweeter_id(class="form-control form-control-lg is-invalid") }}

                        {{ field.reply_content.data(class="form-control form-control-sm text-right") }}
                    {% endif %}

                    <div class="row from-group">
                        <div class="col-sm dropdown form-group">
                            {{ field.reply_topic.label(class="form-control-label ") }}
                            {{ field.reply_topic(class="dropdown")}}
                        </div>
                        <div class="col-sm dropdown from-group">
                            {{ field.reply_sentiment.label(class="form-control-label ") }}
                            {{ field.reply_sentiment(class="dropdown")}}
                        </div>
                    </div>

                {% endfor %}
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="form-group col-sm">
                    {{ form.next(class="btn btn-outline-info") }}
                </div>
            </div>
        </form>
    </div>
{% endblock content %}