{% extends "layout.html"%}

{%block content%}
    {% for tweet in tweets%}
        <form method="post" action="">

            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata row text-right">
                        <small class="text_muted col-sm">تاریخ توییت: 2020-10-10 </small>
                        <small class="text_muted col-sm">شناسه توییت: 01</small>
                    </div>
                    <p class="article-content">{{ tweet.text }}</p>
                    <div class="content-section text-right">
                        <div class="row">
                            {%for sentiment in sentiments%}
                                  <div class="col-sm">
                                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                      <label class="form-check-label" for="exampleCheck1">{{sentiment}}</label>
                                  </div>
                            {% endfor %}

                          <div class="col-sm">
                              <div class="dropdown">
                                  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    انتخاب موضوع
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      {% for new_title in tweet_titles%}
                                        <a class="dropdown-item text-right" href="#">{{new_title}}</a>
                                      {% endfor %}
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        {%for reply in tweet.replies%}
                        <li class="list-group-item small"> <p> reply: {{ reply}}</p>
                                <div class="content-section text-right">
                                    <div class="row">
                                     {%for sentiment in sentiments%}
                                      <div class="col-sm">
                                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                          <label class="form-check-label" for="exampleCheck1">{{sentiment}}</label>
                                      </div>
                                     {% endfor %}

                                      <div class="col-sm">
                                          <div class="dropdown">
                                              <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                انتخاب موضوع
                                              </button>
                                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                  {% for new_title in tweet_titles%}
                                                    <a class="dropdown-item text-right" href="#">{{new_title}}</a>
                                                  {% endfor %}
                                              </div>
                                          </div>
                                      </div>
                                </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item small">
                        <div class="row">
                            <div class=" col-sm">
                                <button type="submit" class="btn btn-primary btn-sm">  {{app_buttons.reject}}  </button>
                            </div>
                            <div class="col-sm">
                                <button type="submit" class="btn btn-primary btn-sm">  {{app_buttons.save}}  </button>
                            </div>
                        </div>
                        </li>
                    </ul>

                </div>

            </article>


        </form>
    {% endfor %}
{% endblock content %}

 <!--  Reply Tweet Part -->
                <div class="form-group row">
                    <legend class="border-bottom mb-4 col-sm text-right">
                        {{form.replies[0].tweet_content.label}}
                    </legend>
                </div>
                {% for field in form.replies %}
                    <div class="form-group">
                        {% if field.tweet_content.errors %}
                            {{ field.tweet_content(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in field.tweet_content.errors %}
                                    <span>
                                        {{error}}
                                    </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ field.tweet_content(class="form-control form-control-sm text-right") }}
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-sm dropdown form-group">
                            {{ field.tweet_topic.label(class="form-control-label ") }}
                            {{ field.tweet_topic(class="dropdown")}}
                        </div>
                        <div class="col-sm dropdown">
                            {{ field.tweet_sentiment.label(class="form-control-label ") }}
                            {{ field.tweet_sentiment(class="dropdown")}}
                        </div>
                    </div>

                {% endfor %}