{% extends "layout.html"%}

{%block content%}
    <script>
        var counter = 0
        var predictions = JSON.parse(`{{ predictions |tojson |safe }}`);
        var responses = JSON.parse(`{{ responses |tojson |safe }}`);
        var dialogues = JSON.parse(`{{ dialogues |tojson |safe }}`);
        document.addEventListener("click", function(e) {

          if (e.target.id == "next_button") {
              counter = counter +1
              document.getElementById("predicted_response").innerHTML = predictions[counter];
              document.getElementById("real_response").innerHTML = responses[counter];
              document.getElementById("main_dialogue").innerHTML = dialogues[counter];
          }
        })
    </script>
    <div class="content-section">
        <form method="GET" action="#">
            <div class="form-group text-right">
                 <div class="input-group mb-3">
                      <select class="custom-select" id="model_names_drop">
                        <option selected>مدل مورد نظر را انتخاب کنید</option>
                        <option value="1">seq2seq_grucell</option>
                        <option value="2">seq2seq_lstmcell</option>
                        <option value="3">seq2seq_loung_attention_grucell</option>
                        <option value="3">seq2seq_loung_attention_lstmcell</option>
                        <option value="3">bahdanau_attention_seq2seq_lstm</option>
                      </select>
                      <div class="input-group-append">
                        <label class="input-group-text" for="inputGroupSelect02">انتخاب مدل</label>
                      </div>
                </div>
            </div>

            <div class="form-group text-right">
                <label>مکالمه </label>

                <textarea class="form-control" id="main_dialogue" rows="3">
                    {{dialogues[0]}}
                </textarea>
            </div>
            <div class="form-group">
                <label>پاسخ واقعی </label>

                <textarea class="form-control" id="real_response" rows="3">
                    {{responses[0]}}
                </textarea>
            </div>
            <div class="form-group text-right">
                <label>پاسخ تولید شده توسط سیستم </label>

                <textarea class="form-control" id="predicted_response" rows="3">
                    {{predictions[0]}}
                </textarea>
            </div>
            <div class="form-group">
                <input class="btn btn-outline-info" id="next_button" name="next" value="بعدی">
            </div>
        </form>
    </div>
    <script>
        var selectedString = document.getElementById("model_names_drop").innerHTML
        var select = document.getElementById("model_names_drop");
        select.onchange = function(){
            selectedString = select.options[select.selectedIndex].text;
            if (selectedString == "seq2seq_grucell")
            {
                window.open("http://127.0.0.1:5000/seq2seq_grucell")
            }
            else if (selectedString == "seq2seq_lstmcell")
            {
                window.open("http://127.0.0.1:5000/seq2seq_simple-lstmcell")
            }
            else if (selectedString == "seq2seq_loung_attention_grucell")
            {
                window.open("http://127.0.0.1:5000/seq2seq_loung_attention_grucell")
            }
            else if (selectedString == "seq2seq_loung_attention_lstmcell")
            {
                window.open("http://127.0.0.1:5000/seq2seq_loung_attention_lstmcell")
            }
            else if (selectedString == "bahdanau_attention_seq2seq_lstm")
            {
                window.open("http://127.0.0.1:5000/bahdanau_attention_seq2seq_lstm")
            }
            else
            {
                alert("Page not found!")
            }

        }
    </script>

{% endblock content %}